header{ margin: 0 auto;

    .titre-centre{
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        h1{
            font-family: "titre";
            @include media-breakpoint-down(sm){
                font-size: 4vh;
            }
            @include media-breakpoint-down(md){
                font-size: 3vh;
            }
            
            
        }
        
        .taste{
            color: #C12D3F;

            
        }
        span{
            font-size: 60px;
            @include media-breakpoint-down(sm){
                font-size: 5vh;
            }
            @include media-breakpoint-down(md){
                font-size: 4vh;
            }
        }
        .rouge{
            background-color: #C12D3F;
        }
    }
    nav{
        .nav-list{
            ul{ 
                
                img{
                    @include media-breakpoint-down(md){
                        height: 6vh;
                        background-color: rgb(135, 150, 168);
                    }
                }
                .liste{
                    @include media-breakpoint-down(md){
                        padding: 1vh;
                    }
                }

                li{
                    border-bottom: white 2px solid;
                    border-top:white 2px solid ;
                    @include media-breakpoint-down(sm){
                        background-color:#C12D3F;
                    }
                    @include media-breakpoint-down(md){
                        background-color:#C12D3F;
                    }
                    @include media-breakpoint-down(md){
                        background-color:rgb(135, 150, 168);
                    }
                    @include media-breakpoint-down(md){
                        padding: 5px;
                    }
                    
                    a{
                        color: white;
                        font-family: "texte";
                    @include media-breakpoint-down(md){
                            font-size:10px;
                    }
                    }
                    a:hover{
                        background-color:#C12D3F ;
                    }
                }
            }
        }
    }
   
    .bottom-header{
        position: absolute;
        bottom: 0%;
        display: flex;
    }

}    
    .carousel-inner{
        
        .carousel-item{
            img{
                filter: brightness(30%);
            }
            
        }
    }
    .deco{
        height: 20px;
        background-image: url("../img/bottom_decoration_img.png");
        
        display: flex;
        bottom: 0;
        position: absolute;
    }

