header{ margin: 0 auto;

    .titre-centre{
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        h1{
            font-family: "titre";
            
            
        }
        
        .taste{
            color: #C12D3F;

            
        }
        span{
            font-size: 60px;
        }
    }
    nav{
        .nav-list{
            ul{
                li{
                    a{
                        color: white;
                        font-family: "texte";
                    }
                    a:hover{
                        background-color:#C12D3F ;
                    }
                }
            }
        }
    }
   
    .bottom-header{
        position: absolute;
        bottom: 0%;
        display: flex;
    }

}    
    .carousel-inner{
        
        .carousel-item{
            img{
                filter: brightness(30%);
            }
            
        }
    }
    .deco{
        height: 20px;
        background-image: url("../../../public/img/bottom_decoration_img.png");
        
        display: flex;
        bottom: 0;
        position: absolute;
    }

