header{ margin: 0;
    
    #carouselExampleCaptions{
        
        nav{
            .nav-list{
                ul{
                    li{
                        a{
                            color: white;
                        }
                        a:hover{
                            background-color:#C12D3F ;
                        }
                    }
                }
            }
        }
    }
    .carousel-inner{
        .carousel-item{
            img{
                filter: brightness(30%);
            }
            .carousel-caption{
                
                h1{
                    font-family: "titre";
                    
                    
                }
                
                .taste{
                    color: #C12D3F;

                    
                }
                span{
                    font-size: 60px;
                }
            }
        }
    }
}