section{
    background-color: white;
    height: 200vh;

    
    .menu{
        h2{
            font-family: "titre";
            
            
            .our{
                color: #C12D3F;
            
            }
            .story{
                font-size: 25px;
            }
        }
        p{
            font-family: "texte";
        }

    }
    .menu-liste{
        .row{
            .col-2{
                .list-group{
                    
                    a{
                        font-family: "titre";
                        
                        i{
                            color: grey;
                        }
                        i:hover{
                            color: red;
                        }
                    }
                    }
              
                }
            }
        
    }
}