section{
    background-color: white;
    height: 170vh;

    
    .menu{
        h2{
            font-family: "titre";
            
            
            .our{
                color: #C12D3F;
            
            }
            .story{
                font-size: 25px;
            }
        }
        p{
            font-family: "texte";
        }

    }
    .container{
        .row{
            .col-4{
                .liste-group{
                    a{
                        font-family: "texte";
                    }
                    }
              
                }
            }
        
    }
}